{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/jquery.hammer.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Task 4</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	  // your solution here
    //Rotate
    var box_rot = document.getElementById('rotate-box');
    var mc_rotate = new Hammer.Manager(box_rot, {
      recognizers:[
        [Hammer.Rotate]
      ]
    });
    mc_rotate.on("rotate", function(ev_rotate) {
    box_rot.textContent = "Rotated!";
});
    
//Pinch
    var box_pinch = document.getElementById('pinch-box');
    var mc_pinch = new Hammer.Manager(box_pinch, {
      recognizers:[
        [Hammer.Pinch]
      ]
    });
    mc_pinch.on("pinch", function(ev_pinch){
      box_pinch.textContent = "Pinched!";
    });
    
    
//Press
    var box_press = document.getElementById('press-box');
    var mc_press = new Hammer.Manager(box_press,{
      recognizers:[
        [Hammer.Press]
      ]
    });
    mc_press.on("press",function(ev_press){
      box_press.textContent = "Pressed!";
    });
    

    
//Pan
    var box_pan = document.getElementById('pan-box');
    var mc_pan = new Hammer(box_pan);
    mc_pan.get('pan').set({direction: Hammer.DIRECTION_ALL});
    mc_pan.on("panleft panright pan up pandown", function(ev_pan){
      box_pan.textContent = ev_pan.type+" completed!";
    });
    
    
    
//Tap
    var box_tap = document.getElementById('tap-box');
    var mc_tap = new Hammer(box_tap);
    mc_tap.on('tap press', function(ev_tap){
      box_tap.textContent = "Tapped!";
    });

    
//Swipe
    var box_swipe = document.getElementById('swipe-box');
    var mc_swipe = new Hammer(box_swipe);
    mc_swipe.on('swipe', function(ev_swipe){
      box_swipe.textContent = "Swiped!";
    });
    
  </script>
</body>
</html>
